@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

#home{
    background-image: url('./images/bg-intro-desktop.svg');
    background-position:300%;
    background-repeat: no-repeat;
}

@media screen and (max-width:768px){
    #home {
        background-image: url('./images/bg-intro-mobile.svg');
        background-position:top;
    }
}